# CityFlow — Variables d'environnement
# Copiez ce fichier en .env et adaptez les valeurs avant de lancer docker compose up

# MongoDB
MONGO_ROOT_USERNAME=admin
MONGO_ROOT_PASSWORD=cityflow2025
MONGO_DB=cityflow

# Mongo Express (interface web MongoDB)
MONGO_EXPRESS_USER=student
MONGO_EXPRESS_PASSWORD=nosql2025

# Redis
REDIS_PASSWORD=cityflow2025

# Redis Commander (interface web Redis)
REDIS_COMMANDER_USER=student
REDIS_COMMANDER_PASSWORD=nosql2025

# Neo4j
NEO4J_PASSWORD=cityflow2025
